<!DOCTYPE html>
<html ng-app="vbookstore" ng-controller="authController">
<head>
    <!-- Google Authentication -->

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="123369030640-94jn352cqfd72s425etan04p0rv6p086.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title><%= title %></title>
    <base href="/auth/register/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam|Khand|Acme|Josefin+Slab|Russo+One" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <!--font awesome-->
    <script src="https://use.fontawesome.com/049417105c.js"></script>
    <script src="/javascripts/frontend/auth.js"></script>
    <script src="/javascripts/controllers/auth.js"></script>
</head>
<body>
<header>
    <h1 class="header" style="padding: 5%; background-color: orange;"><%=header%></h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10" style="padding:10%;">
            <div class="alert alert-info" role="alert" ng-if="msg">
                <strong ng-model="msg">{{msg}}</strong>
            </div>
            <form class="form centered" ng-submit="resetPassword()">
                <div class="form-group row" id="form-div-password">
                    <label for="password" class="col-sm-2 col-form-label">new password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="" ng-model="customer.password">
                        <div class="form-control-feedback" id="feedback-message"></div>
                        <small class="form-text text-muted">atleat 8 characters, try keeping it alphanumeric.</small>
                    </div>
                </div>
                <div class="form-group row" id="form-div-confirm-password">
                    <label for="confirm-password" class="col-sm-2 col-form-label">confirm password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirm-password" placeholder="" ng-model="customer.confirm_password">
                        <div class="form-control-feedback" id="feedback-message"></div>
                        <small class="form-text text-muted">must match the above entered password.</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right" id="submit_btn">Submit <span class="spinner" data-loader><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw" aria-hidden="true"></i></span></button>
                <a href="/auth">
                    <button type="button" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Go to login</button></a>
            </form>
        </div>
    </div>
</div>
<script>
    //initial state of the btn
    $('#submit_btn').hide();
    //if password is not empty and is 8 characters long
    $('#password').on('keyup',function(){
        if($('#password').val().length<8) {
            $('#submit_btn').hide();
            $('#form-div-password').addClass("form-group row has-danger");
            $('#password').addClass("form-control form-control-danger");
        }
        else{
            $('#form-div-password').removeClass("form-group row has-danger");
            $('#form-div-password').addClass("form-group row has-success");
            $('#password').removeClass("form-control form-control-danger");
            $('#password').addClass("form-control form-control-success");
        }
    });
    //finally when the passwords are to be checked
    $('#confirm-password').on('keyup',function(){
        if($('#password').val() === $('#confirm-password').val() && $('#password').val().length >= 8) {
            $('#submit_btn').show();
            $('#form-div-password').removeClass("form-group row has-danger");
            $('#form-div-password').addClass("form-group row has-success");
            $('#form-div-confirm-password').removeClass("form-group row has-danger");
            $('#form-div-confirm-password').addClass("form-group row has-success");
            $('#confirm-password').removeClass("form-control form-control-danger");
            $('#confirm-password').addClass("form-control form-control-success");
        }
        else{
            $('#submit_btn').hide();
            $('#form-div-password').removeClass("form-group row has-success");
            $('#form-div-password').addClass("form-group row has-danger");
            $('#form-div-confirm-password').removeClass("form-group row has-success");
            $('#form-div-confirm-password').addClass("form-group row has-danger");
            $('#confirm-password').addClass("form-control form-control-danger");
        }
    });
</script>
</body>
</html>